---
BasedOnStyle: Google
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Custom
ColumnLimit: '120'
Cpp11BracedListStyle: 'true'
IndentWidth: '4'
SpaceBeforeParens: ControlStatements
BraceWrapping:
	AfterControlStatement: MultiLine

...
